a.sup{
    display: inline-block;
    position: fixed;
    left: 40%;
}
a.loi{
    display: inline-block;
    position: fixed;
    left: 30%;
}
div.table{
    position: relative;
}
div.logbtn{
    position: relative;
}
div.ThirdLogin{
    position: relative;
    left: 42%;
    pointer-events: none;
}
input.btn
{
    position:fixed;
    width: 18%;
    height: 6%;
    color: white;
    font-size: 20px;
    background-color:rgb(30, 146, 255);
}
a {
    text-decoration:none;
}
div.logo{
    top: 10%;
    position: relative;
}
img.logo{
    position: relative;
    width: 42%;
    height: 42%;
    float:left;
}
div.bg{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:-10;
    background: url(../img/bg.jpeg);
    background-size: cover;
    background-position: center 0;
}
div.logins{
    position: fixed;
    top: 25%;
    left: 10%;
    padding:10px 40px;
    background:#ffffff;
    width:33%;
    height: 53%;
    border-radius:25px;
    box-shadow: -8px -8px 8px #d0d0d0;
}
hr.hr{
    position:relative;
    width: 60%;
    margin-left: 0;
    margin-right: 0;
}
img.avr{
    position: fixed;
    left: 34%;
    top: 32%;
}
img.ThirdLogin{
    height: 10%;
    width: 10%;
    margin: -70px 0 0 -70px;
}
